autom4te.cache/
config.log
config.status
config.guess
config.sub
configure
aclocal.m4
Makefile
depcomp
install-sh
Makefile.in
missing
*.deps
*.dirstamp
test-driver
*.log
*.trs


*.o
*.d
*.swp
unit
main
main.exe
pharmml2poped
pharmml2poped.exe
libpharmmlcpp.a
test/test
pharmmlcpp-*.zip
pharmmlcpp-*.tar.gz

utils/pharmmltool
mdl/mdl

test/xml-roundtrip-test/results
test/xml-roundtrip-test/output
html/*
latex/*

windep
release

spec-docs/
pharmml_internalRelease_0_8_1/pharmml-examples/
peripheral/

.gdb_history
powermake

test/mdl-roundtrip-test
!test/mdl-roundtrip-test/mdl_roundtrip_test.sh
!test/mdl-roundtrip-test/*/README.txt

# vim files
.ycm_extra_conf.py
.ycm_extra_conf.pyc
*~
