autom4te.cache/
config.log
config.status
config.guess
config.sub
configure
aclocal.m4
Makefile
depcomp
install-sh
Makefile.in
missing
compile
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
*.deps
*.dirstamp
test-driver
*.log
*.trs


.libs
*.la
*.lo
*.o
*.d
*.swp
unit
main
main.exe
pharmml2poped
pharmml2poped.exe
libpharmmlcpp.a
test/test
pharmmlcpp-*.zip
pharmmlcpp-*.tar.gz

utils/pharmmltool
mdl/mdl

test/xml-roundtrip-test/results
test/xml-roundtrip-test/output
html/*
latex/*

windep
release

spec-docs/
pharmml_internalRelease_0_8_1/pharmml-examples/
peripheral/

.gdb_history
powermake

test/mdl-roundtrip-test
!test/mdl-roundtrip-test/mdl_roundtrip_test.sh
!test/mdl-roundtrip-test/*/README.txt

# vim files
.ycm_extra_conf.py
.ycm_extra_conf.pyc
*~
