*.o
*.swp
main
main.exe
pharmml2poped
pharmml2poped.exe
mdl
libpharmmlc.a
test/test

output
output.xml


windep
release

spec-docs/
pharmml_internalRelease_0_8_1/pharmml-examples/
peripheral/
test/testfiles/
!test/testfiles/minimal.xml

.gdb_history
powermake
